<div class="Entries Body">
  <header>Darrellist</header>

{{#each allPosts}}
  <div class="panel">
  <div class="content">
  <img class="mainImage" src={{this.img}}>
  <div class="infoHolder">
  <div class="description">{{this.desc}}</div>
  <div class="price">{{this.price}}</div>
  
  </div>
  <a href="{{this.url}}">Original CL Post</a>
    <div class="showComments">Show Comments</div>
  </div>
  <div class="commentsHolder">
  {{#each this.comment}}
  <div class="commentDivider">
  <p class="comment">{{this.comment}}</p><button class="commentRemove" data="{{this._id}}">&times;</button>
  </div>
  {{/each}}
  </div>
  <div class="addCommentContainer">
    <div class="commentDivider"></div>
   <textarea name="comment">Add a comment</textarea><button class="addComment" data="{{this._id}}">Add Comment</button>
   </div>
 </div>
{{/each}}

</div>
<script type="text/javascript" src="./javascript/home.js"></script>

    
      