<div class="Entries Body">
  <header><h1 class="title1">DARREL</h1><h1 class="title2">LIST</h1>
<p class="intro">This site scrapes the Austin area Craigslist for posts with any of 8 different spellings of Darrell.</p>
  </header>
<div class="scrape"><a href="/scrape"> <button class="scrapeButton">Scrape for Latest Darrells</button></a></div>

{{#each allPosts}}
  <div class="panel">
  <div class="content">
  <img class="mainImage" src={{this.img}}>
  <div class="infoHolder">
  <div class="description">{{this.desc}}</div>
  <div class="price">{{this.price}}</div>
  
  </div>
  <a class="origLink" href="{{this.url}}" target="_blank">Original CL Post</a>
    <div class="showComments">SHOW COMMENTS</div>
  </div>
  <div class="commentsHolder">
  {{#each this.comment}}
  <div class="commentDivider">
  <p class="comment">{{this.comment}}</p><button class="commentRemove" data="{{this._id}}">&times;</button>
  </div>
  {{/each}}
  </div>
  <div class="addCommentContainer">
    <div class="commentDivider"></div>
   <textarea name="comment">Add a comment</textarea><button class="addComment" data="{{this._id}}">Add Comment</button>
   </div>
 </div>
{{/each}}

</div>
<script type="text/javascript" src="./javascript/home.js"></script>

    
      